Package: co.dynastic.ios.tweak.indt
Name: iNDT
Depends: mobilesubstrate, firmware (>= 10.0)
Version: 1.0.3
Architecture: iphoneos-arm
Description: Send test notifications from a Mac.
Maintainer: Ayden Panhuyzen
Author: Dynastic
Section: Tweaks